body{
  margin: 0;  /* Altrimenti tutte le sezioni verrebbero staccate */
  background-image: linear-gradient(135deg, grey, rgb(220, 214, 192));
  background-size: cover;
  background-attachment: fixed;
}

header{
  background-color: #4A4743;
  position: relative;
  text-align: center;
  font-family: "Copperplate", fantasy;
  padding: 10px;
}

.login{
  padding: 2px;
  margin: 0px;
  width: 5%;
  background-color: rgba(192, 109, 26, 0.6);
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
  text-align: center;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-family: "Copperplate", fantasy;
  justify-content: center;
}

.login .Logo{
  display: block;
}

/*Proprietà del menù*/
nav{
  background-color: rgb(168, 110, 35);
  color: white;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 0px black;
  font-family: "Copperplate", fantasy;
  font-size: 130%;
  height: 45px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
  display: inline-block;
  padding: 0;
}

/*nav li form:hover{
  background-color: rgb(201, 130, 42);
}*/

nav li a{
  color: white;
  text-decoration: none;
}

/*Fine proprietà del menù*/

.dropdown-content{
  position: absolute;
  background-color: #DC9F55;
  margin-top: -19px;
  padding: 5px; /* Modificare questo per centrare */
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
  display: none;
}

.dropdown-content a{
  display: block;
  padding: 15px;
}

.dropdown-content a:hover{
  background-color: rgb(201, 130, 42);
}

.dropdown:hover .dropdown-content{
  display: block;
}

h1, h2{
  color: #975806;
}

.submit{
  background-color: #DC9F55;
  border: 0;
  color: #fff;
  font-weight: bold;
  padding: 0;
  height: 25px;
  width: 112px;
  font-family: "Copperplate", fantasy;
}

.submit:hover{
    background-color: rgb(201, 130, 42);
}

.submit1{
  background-color: rgb(168, 110, 35);
  border: 0;
  color: #fff;
  font-weight: bold;
  padding: 0;
  height: 45px;
  width: 122px;
  font-family: "Copperplate", fantasy;
}

.submit1:hover{
    background-color: rgb(201, 130, 42);
}

/*.css solo per allenamento.php */

.dropdown-content1{
  position: absolute;
  background-color: #DC9F55;
  margin-top: 0px;
  padding: 5px; /* Modificare questo per centrare */
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
  display: none;
}

.dropdown-content1 a{
  display: block;
  padding: 15px;
}

.dropdown-content1 a:hover{
  background-color: rgb(201, 130, 42);
}

.dropdown:hover .dropdown-content1{
  display: block;
}

.submit3{
  background-color: #DC9F55;
  border: 0;
  color: #fff;
  font-weight: bold;
  padding: 0;
  height: 25px;
  width: 112px;
  font-family: "Copperplate", fantasy;
  font-size: 70%;
}

.submit3:hover{
    background-color: rgb(201, 130, 42);
}

.submit2{
  background-color: rgb(168, 110, 35);
  border: 0;
  color: #fff;
  font-weight: bold;
  padding: 0;
  height: 45px;
  width: 122px;
  font-family: "Copperplate", fantasy;
  font-size: 70%;
}

.submit2:hover{
    background-color: rgb(201, 130, 42);
}
/* Fine .css dedicato solo ad allenamento.php */

#front1{
  background-image: url(../images/IMG.jpeg);
  background-size: cover;
  height: 500px;
  opacity: 1;
  border: 1px solid grey;
  text-align: left;
  text-transform: uppercase;
  text-shadow: 3px 0px black;
  font-family: "Copperplate", fantasy;
  font-size: 130%;
}

.BoxModel{
  padding: 10px;
  margin: 15px;
  margin-right: 70%;
  margin-top: 14%;
  width: 30%;
  background-color: rgba(192, 109, 26, 0.6);
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  border-radius: 20px;
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
  text-align: center;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-size: 120%;
}

.BoxModel:hover{
  padding: 10px;
  margin: 15px;
  margin-right: 70%;
  margin-top: 14%;
  width: 30%;
  background-color: rgba(192, 109, 26, 0.9);
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  border-radius: 20px;
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
  text-align: center;
  text-transform: none;
  text-shadow: none;
  text-decoration: underline;
  font-family: "Arial", sans-serif;
  font-size: 121%;
}

#Presentation{
  padding: 15px;
  margin:20%;
  margin-top: 10px;
  margin-bottom: 0;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  background-color: #fff;
  text-indent: 5px;
  text-align: justify;
  font-size: 120%;
  font-family: 'Poppins',sans-serif;
}

.list{
  margin-right: 25px;
}

footer{
  background-color: #4A4743;
}
.menu{
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.menu li{
  padding: 15px;
  display: inline-block;
}

.menu li:hover{
  background-color: #90887D;
}

.menu li a{
  color: white;
  text-decoration: none;
}

.copyright{
  color:white;
  text-align: center;
  padding: 15px;
  padding-bottom: 30px;
}

/* FINE PAGINA INIZIALE */

/* Style refers to consulenza.php (FORM DI REGISTRAZIONE) */

#Registration-Form{
    padding:20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins',sans-serif;
}

#pre{
  text-align: justify;
  font-size: 120%;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.container{
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #4A4743, #DCD6C0);
}

.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: rgb(168, 110, 35);
}

form .gender-details .gender-title{
 font-size: 20px;
 font-weight: 500;
}

form .category{
  display: flex;
  width: 80%;
  margin: 14px 0 ;
  justify-content: space-between;
}

form .category label{
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .category label .dot{
 height: 18px;
 width: 18px;
 border-radius: 50%;
 margin-right: 10px;
 background: #d9d9d9;
 border: 5px solid transparent;
 transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
  background: rgb(168, 110, 35);
  border-color: #d9d9d9;
}

form input[type="radio"]{
  display: none;
}

 form .button{
   height: 45px;
   margin: 35px 0
 }

 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #4A4743, #DCD6C0);
 }

 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #4A4743, #DCD6C0);
  }

 @media(max-width: 584px){
 .container{
  max-width: 100%;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }

  form .category{
    width: 100%;
  }

  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }

  .user-details::-webkit-scrollbar{
    width: 5px;
  }

  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
 

/* Fine Registration Form --> consulenza.php */
